@import "../../index.scss";
@import "../../themes.scss";

.portfolio {
    &__wrapper {
        background-color: #fff;
        padding: 50px 0;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__title {
        font-size: 24px;
        color: $blue;
        margin-bottom: 50px;
        text-align: center;
}
}